.Button {
    border: none;
    outline-style: none;
    cursor: pointer;
    display: flex;
    > .text {
        flex: 0 0 auto;
        text-align: center;
    }
    > .image {
        aspect-ratio: 1 / 1;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    &:hover { filter: brightness(0.9); }
    &:active { filter: brightness(0.8); }
    &:disabled {
        cursor: not-allowed;
        filter: grayscale(1);
    }
}