.Button {
    border: none;
    outline-style: none;
    cursor: pointer;
    display: flex;
    > .Button-text {
        flex: 0 0 auto;
        text-align: center;
    }
    > .Button-image {
        aspect-ratio: 1 / 1;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.Button:hover {
    filter: brightness(0.9);
}
.Button:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
}
.Button:active {
    filter: brightness(0.8);
}