.liveImageInput {
    aspect-ratio: 16/9;
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
}
.liveImageInput > .liveImageInput-label {
    position: relative;
    overflow: hidden;
    background-color: #00000088;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.liveImageInput > .liveImageInput-label > img {
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
}
.liveImageInput > .liveImageInput-input {
    display: none;
}