.Logo {
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
    height: 100%;
    outline-style: none;
    > .Logo-image, > img {
        height: 100%;
        padding: 0 1rem 0 0;
    }
    > .Logo-text, > span, > p, h1 {
        font-size: 1.75rem;;
    }
}