.textInput {
    display: flex;
    flex-direction: row;
    margin: 0.25rem
}
.textInput input,
.textInput textarea {
    padding: 0.5rem;
    background-color: #FFFFFF;
    border: #000000 1px solid;
    border-radius: 0.25rem;
    width: 100%;
}
.textInput button {
    flex: 0 0 auto;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border: #000000 1px solid;
    border-radius: 0.25rem;
}